<p id="notice"><%= notice %></p>

<p>
  <b>Uid:</b>
  <%= @request.uid %>
</p>

<p>
  <b>Open:</b>
  <%= @request.open %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
